body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.startingPage {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.scores {
  background-color: #4ac2f1;
  display: flex;
  flex-direction: column;
  width: -webkit-fill-available;
  align-items: center;
}

#cs-para {
  font-size: large;
  font-weight: 700;
  font-family: "Courier New", Courier, monospace;
  text-decoration: underline;
}

#hs-para {
  font-size: large;
  font-weight: 700;
  font-family: "Courier New", Courier, monospace;
  text-decoration: underline;
}

#cs-number {
  font-size: larger;
  font-family: "Courier New", Courier, monospace;
}

#hs-number {
  font-size: larger;
  font-family: "Courier New", Courier, monospace;
}

.cardContainer {
  display: flex;
}

.singleCard {
  margin: 15px;
  padding: 5px;
  box-shadow: 2px 4px 5px rgb(157, 152, 152);
}

.finalPage {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#playAgain {
  box-shadow: 2px 4px 4px #4ac2f1;
  background-color: rgb(216, 215, 215);
  border: none;
  width: 5rem;
  height: 5rem;
}

@media only screen and (max-width: 600px) {
  /*Big smartphones [426px -> 600px]*/
  .cardContainer {
    flex-direction: column;
  }
}
@media only screen and (max-width: 425px) {
  /*Small smartphones [325px -> 425px]*/
  .cardContainer {
    flex-direction: column;
  }
}
